<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <h3>Address</h3>

        <p>Fort Wayne, IN</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "2607150129" %></p>

        <h3>Email</h3>

        <p><a href="mailto:AntCon1000@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.6250435714664!2d-85.1022236843354!3d41.12087932043653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8815fcc9470aa74f%3A0x19b406b8b87882b9!2s4999-4943%20St%20Joe%20Rd%2C%20Fort%20Wayne%2C%20IN%2046835!5e0!3m2!1sen!2sus!4v1577658008968!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>